*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
}

div{
    display: block;
    unicode-bidi: isolate;
}

.strip-section{
    background: #F9F8F2;
    padding:12px 14px;
    color:#4A4A4A;
    font-size: 0.875rem;
    line-height: normal;
    z-index: 9999;
    position: relative;
}

.strip-section .strip-section-container{
    display:flex;
    justify-content: space-between;
    -webkit-box-pack: justify;
}

.strip-section-container{
    max-width: 1200;
    margin: 0 auto;
}

.strip-section .left-strip {
    position: relative;
    font-size: 13px;
}

body, ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "robotoregular";
    line-height: normal;
}

ul {
    display: block;
    /*list-style-type: disc;*/ 
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

.strip-section ul li:first-child {
    margin-left: 0;
}

.strip-section ul li {
    display: inline-block;
    /*margin-left: 10px;*/
    font-size: 13px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

p {
    margin: 0;
    padding: 0;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.strip-section .left-strip svg {
    vertical-align: sub;
    height: 19px;
    width: 19px;
}
  
svg:not(:root) {
    overflow: hidden;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

.strip-section .left-strip b {
    color: #333333;
    font-family: "robotomedium";
    font-size: 14px;
    margin-left: 3px;
}

b, h1, h2, h3, h4, strong {
    padding: 0;
    font-weight: normal;
}

.strip-section ul li:first-child {
    margin-left: 0;
}

.strip-section ul li {
    display: inline-block;
    margin-left: 10px;
    font-size: 13px;
}

.strip-section  li a {
    color: #4A4A4A;
    /*-webkit-transition: 0.3s all ease;*/
    transition: 0.3s all ease;
}

a {
    text-decoration: none;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.strip-section i {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    margin: -1px 5px 0;
}

i {
    font-style: italic;
}